@{
    ViewBag.Title = "回收详情";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    layui.use(['jquery', 'form', 'table', 'dtree', 'common', 'commonTable', 'optimizeSelectOption'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            commonTable = layui.commonTable,
            laydtree = layui.dtree,
            laydate = layui.laydate,
            common = layui.common;
        var keyValue = $.request("keyValue");
        //加载数据
        wcLoading.close();
        //权限控制(js是值传递)
        currentTableBar.innerHTML = common.authorizeButtonNew(currentTableBar.innerHTML);
        toolbarDemo.innerHTML = common.authorizeButtonNew(toolbarDemo.innerHTML);

        var options = {
            elem: '#currentTableId',
            url: '/CarrierManage/Carrier/RecoveryGetFormJson',
            where: { keyValue: keyValue },
            cols: [[
                { field: 'doc_name', title: '文件名称', width: 140, sort: false, filter: false },
                {
                    field: 'bindingType', title: '绑定类型', width: 88, sort: false, filter: false,
                    templet: function (d) {//，0是未绑定，1是部门，2是人员
                        if (d.bindingType == 0) {
                            return "<span class='layui-btn layui-btn-normal layui-btn-xs'>未绑定</span>";
                        } else if (d.bindingType == 1) {
                            return "<span class='layui-btn layui-btn layui-btn-xs'>部门</span>";
                        } else {
                            return "<span class='layui-btn layui-btn layui-btn-xs'>人员</span>";
                        }
                    }
                },
                {
                    field: 'bindingName', title: '绑定名称', width: 88, sort: false, filter: false
                },

                {
                    field: 'doc_type', title: '公文种类', width: 88, sort: false, filter: false,
                    templet: function (d) {
                        if (!!d.doc_type) {
                            return top.clients.dataItems["DocumentType"][d.doc_type] == null ? "" : top.clients.dataItems["DocumentType"][d.doc_type];
                        }
                        else {
                            return "";
                        }
                    }
                },
                {
                    field: 'doc_secret_level', title: '密级', width: 88, sort: false, filter: false,
                    templet: function (d) {
                        if (!!d.doc_secret_level) {
                            return top.clients.dataItems["Classification"][d.doc_secret_level] == null ? "" : top.clients.dataItems["Classification"][d.doc_secret_level];
                        }
                        else {
                            return "";
                        }
                    }
                },
                {
                    field: 'send_dep', title: '发文机关', width: 88, sort: false, filter: false,
                    templet: function (d) {
                        if (!!d.send_dep) {
                            return top.clients.dataItems["Document-issuingAgency"][d.send_dep] == null ? "" : top.clients.dataItems["Document-issuingAgency"][d.send_dep];
                        }
                        else {
                            return "";
                        }
                    }
                },
                { field: 'send_code', title: '发文字号', width: 88, sort: false, filter: false },
                { field: 'Recipient', title: '最后使用人', width: 110, sort: false, filter: false },
            ]],
        };
        commonTable.rendertable(options);

    });
</script>


<div class="layui-fluid" style="padding:0 0px">
    <div class="layui-card" style="margin-bottom: 0px; padding: 5px;">
        <fieldset class="table-search-fieldset" id="searchField">
        </fieldset>
    </div>
    <div class="layui-row layui-col-space5">
        <div class="layui-col-md12 layui-col-xs12">
            <div class="layui-card" style="padding: 5px;">
                <script type="text/html" id="toolbarDemo">
                    <div class="layui-btn-container" id="toolbar">
                    </div>
                </script>
                <script type="text/html" id="currentTableBar">
                </script>
                <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
            </div>
        </div>
    </div>
</div>
