@{
    ViewBag.Title = "Association.cshtml";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    layui.use(['jquery', 'form', 'laydate', 'dtree', 'common', 'optimizeSelectOption'], function () {
        var form = layui.form,
            $ = layui.$,
            common = layui.common,
            laydate = layui.laydate,
            laydtree = layui.dtree;
        //权限字段
        common.authorizeFields('adminform');
        var keyValue = $.request("CabinetID");
        var Deptid = $.request("Deptid");
        $(function () {
            // 初始化树
            var NFTree = laydtree.render({
                elem: "#NF-Tree",
                width: '200px',
                method: "GET",
                dataStyle: "layuiStyle",  //使用layui风格的数据格式
                //dataFormat: "list",  //配置data的风格为list
                response: { message: "message", statusCode: 200 },  //修改response中返回数据的定义
                scroll: "#toolbarDiv1", // 绑定div元素
               
                url: "/SystemOrganize/Organize/GetDTreeJson", // 使用url加载（可与data加载同时存在）
                done: function (res, $ul, first) {
                    if (first) {
                        laydtree.dataInit("NF-Tree", Deptid); // 初始化值
                    }
                }
            });
            // common.ajax({
            //     url: "/SystemOrganize/Organize/GetSelectJson",
            //     dataType: "json",
            //     data: { keyValue: keyValue },
            //     async: false,
            //     success: function (data) {
            //         laydtree.render({
            //             elem: "#NF-Tree",
            //             method: 'GET',
            //             data: data,
            //             scroll: "#toolbarDiv1", // 绑定div元素
            //             toolbar: true
            //         });
            //     }
            // });

            //监听提交
            form.on('submit(saveBtn)', function (data) {
                
                var param = laydtree.getNowParam(NFTree);
              
                if (param.nodeId === undefined) {
                    layer.msg("请选择部门");
                    return false;
                }
                var postData = { cabinetID: keyValue, dept_id: param.nodeId }
                common.submitForm({
                    url: "/CabinetManage/Cabinet/SetDept",
                    param: postData,
                    success: function () {
                        common.parentreload("data-search-btn");
                    }
                })
                return false;
            });

        });

        wcLoading.close();


    });
</script>
<body>
    <div class="layuimini-container">
        <div class="layuimini-main">
            <div class="layui-form layuimini-form" lay-filter="adminform">
                <div class="layui-form-item ">
                    <div style="height: 350px;overflow: auto;" id="toolbarDiv1">
                        <ul id="NF-Tree" class="dtree" data-id="0"></ul>
                    </div>
                </div>
                <div class="layui-form-item layui-hide">
                    <button class="layui-btn site-demo-active" lay-submit id="submit" lay-filter="saveBtn">确认保存</button>
                </div>

            </div>
        </div>
    </div>
</body>
