@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    layui.use(['jquery', 'form', 'table', 'common', 'commonTable', 'optimizeSelectOption'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            commonTable = layui.commonTable,
            common = layui.common;
        //加载数据
        wcLoading.close();
        //权限控制(js是值传递)
        currentTableBar.innerHTML = common.authorizeButtonNew(currentTableBar.innerHTML);
        toolbarDemo.innerHTML = common.authorizeButtonNew(toolbarDemo.innerHTML);
        var options = {
            elem: '#currentTableId',
            url: '/CabinetManage/Cabinet/GetTreeGridJson',
            treeIdName: 'ID',  // id字段名称
            treePidName: 'fid',     // pid字段名称
            cols: [[
                { type: "radio", width: 50, fixed: 'left' },
                { field: 'Name', title: '设备名称', Width: 160, sort: false, filter: false },
                { field: 'cabAddr', title: '设备地址', Width: 120, sort: false, filter: false },
                {
                    field: 'TypeClass', title: '设备类型', Width: 80, sort: false, filter: false,
                    templet: function (d) {
                        if (d.TypeClass == 0) {
                            return "<span class='layui-btn layui-btn-normal layui-btn-xs'>控制柜</span>";
                        } else if (d.TypeClass == 2) {
                            return "<span class='layui-btn layui-btn layui-btn-xs'>文件柜</span>";
                        } else {
                            return "<span class='layui-btn layui-btn layui-btn-xs'>载体柜</span>";
                        }
                    }
                },
                {
                    field: 'State', title: '状态', width: 80, sort: false, filter: false,
                    templet: function (d) {
                        if (d.State == 1) {
                            return "<span class='layui-btn layui-btn-normal layui-btn-xs'>正常</span>";
                        } else {
                            return "<span class='layui-btn layui-btn-warm layui-btn-xs'>停用</span>";
                        }
                    }
                },
                { field: 'openDoor', title: '柜门控制Com口', Width: 120, sort: false, filter: false },
                { field: 'SecretLevel', title: '显示界面顶部标语', Width: 120, sort: false, filter: false },
                { field: 'Classification', title: '显示界面底部标语', Width: 80, sort: false, filter: false },
                {
                    field: 'dept_name', title: '所属部门', Width: 260, sort: false, filter: false
                },
                { title: '操作', width: 175, toolbar: '#currentTableBar', align: "center", fixed: 'right' }
            ]],
        };
        commonTable.rendertreetable(options);

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            queryJson = data.field.txt_keyword;
            options.where = { keyword: queryJson };
            commonTable.rendertreetable(options);
            duty = null;
            return false;
        });
        //行点击事件监听，控制按钮显示
        var oneList = ["NF-edit", "NF-delete", "NF-association"];//选择1条显示
        commonTable.tableRowClick("radio", "currentTableFilter", "currentTableId", oneList);
        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            var data = table.checkStatus('currentTableId').data;
            var keyValue = data.length > 0 ? data[0].ID : null;

            var dept_id = data.length > 0 ? data[0].dept_id : null;

            var duty = data.length > 0 ? data[0] : null;
            if (obj.event === 'add') {  // 监听操作
                common.modalOpen({
                    title: "新增存放柜",
                    url: "/CabinetManage/Cabinet/Form?event=add&keyValue=" + (!!keyValue ? keyValue : 0),
                    width: "480px",
                    height: "720px",
                });
            }
            else if (obj.event === 'delete') {
                if (duty == null) {
                    common.modalMsg("未选中数据", "warning");
                    return false;
                }
                common.deleteForm({
                    url: "/CabinetManage/Cabinet/DeleteForm",
                    param: { keyValue: keyValue },
                    success: function () {
                        common.reload('data-search-btn');
                    }
                });
            }
            else if (obj.event === 'edit') {
                if (duty == null) {
                    common.modalMsg("未选中数据", "warning");
                    return false;
                }
                common.modalOpen({
                    title: "编辑存放柜数据",
                    url: "/CabinetManage/Cabinet/Form?event=edit&keyValue=" + keyValue,
                    width: "480px",
                    height: "720px",
                });
            }
            else if (obj.event === 'association') {
                if (duty == null) {
                    common.modalMsg("未选中数据", "warning");
                    return false;
                }
                common.modalOpen({
                    title: "分配部门",
                    url: "/CabinetManage/Cabinet/Association?event=Association&CabinetID=" + keyValue + "&Deptid=" + dept_id,
                    width: "480px",
                    height: "720px",
                });
            }
            else if (obj.event === 'TABLE_SEARCH') {
                var _that = $("#searchField");
                if (_that.hasClass("layui-hide")) {
                    _that.removeClass('layui-hide');
                } else {
                    _that.addClass('layui-hide');
                }
                table.resize();
            }
            return false;
        });
        table.on('tool(currentTableFilter)', function (obj) {
            var keyValue = obj.data.ID;
            var dept_id = obj.data.dept_id;
            if (obj.event === 'delete') {
                common.deleteForm({
                    url: "/DoorManage/Door/DeleteForm",
                    param: { keyValue: keyValue },
                    success: function () {
                        obj.del();
                    }
                });
            }
            else if (obj.event === 'edit') {
                common.modalOpen({
                    title: "编辑存放柜数据",
                    url: "/CabinetManage/Cabinet/Form?event=edit&keyValue=" + keyValue,
                    width: "480px",
                    height: "720px",
                });
            }
            else if (obj.event === 'association') {
                common.modalOpen({
                    title: "分配部门",
                    url: "/CabinetManage/Cabinet/Association?event=Association&CabinetID=" + keyValue + "&Deptid=" + dept_id,
                    width: "480px",
                    height: "720px",
                });
            }
            return false;
        });
    });
</script>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="table-search-fieldset " id="searchField">
            @*<legend>搜索信息</legend>*@
            <div>
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">存放柜名称:</label>
                            <div class="layui-input-inline">
                                <input type="text" id="txt_keyword" name="txt_keyword" autocomplete="off" class="layui-input" placeholder="">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary" lay-submit lay-filter="data-search-btn"><i class="layui-icon">&#xe615;</i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container" id="toolbar">
                <button id="NF-add" name="NF-add" authorize class="layui-btn layui-btn-sm data-add-btn" lay-event="add"><i class="layui-icon">&#xe654;</i>新增存放柜 </button>
                <button id="NF-edit" name="NF-edit" authorize class="layui-btn layui-btn-sm layui-btn-warm data-edit-btn layui-hide" lay-event="edit"><i class="layui-icon">&#xe642;</i>修改存放柜</button>
                <button id="NF-delete" name="NF-delete" authorize class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn layui-hide" lay-event="delete"> <i class="layui-icon">&#xe640;</i>删除存放柜</button>
                <button id="NF-association" name="NF-association" authorize class="layui-btn layui-btn-sm layui-btn-normal data-association-btn layui-hide" lay-event="association"> <i class="layui-icon">&#xe64c;</i>分配部门</button>
            </div>
        </script>
        <script type="text/html" id="currentTableBar">
            <a id="NF-edit" authorize class="layui-btn layui-btn-sm" lay-event="edit"><i class="layui-icon">&#xe642;</i></a>
            <a id="NF-delete" authorize class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"><i class="layui-icon">&#xe640;</i></a>
            <a id="NF-association" authorize class="layui-btn layui-btn-sm layui-btn-normal data-info-btn" lay-event="association"><i class="layui-icon">&#xe64c;</i></a>

        </script>
        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

    </div>
</div>